Repository ePages-de/epages-devportal, pull requests merged in 2019-08, with the labels that each got.

#518 Add cards to inventory
  _data/beyond_essence.yml
  assets/img/pages/essence/cards-cluster.png
  assets/img/pages/essence/cards-standard.png
  assets/img/pages/essence/cards-title.png
  assets/img/pages/essence/cards-two-columns.png
  beyond-essence/inventory/cards.md
Labels: don't merge yet

#522 Add post about onboarding newbies
  _posts/2019/2019-08-20-get-the-new-employee-onboard.md
  assets/img/pages/blog/images/onboarding-goals.png
  assets/img/pages/blog/images/onboarding-learning.png
  assets/img/pages/blog/images/onboarding-slogan.png
  assets/img/pages/blog/images/onboarding-startpage.png
  assets/img/pages/headers/public/onboard.jpg
Labels: blog post

#532 AD-9381 Infinity blog post
  _data/authors.yml
  _posts/2019/2019-08-22-end-to-end-tests-with-geb-and-spock.md
  assets/img/pages/blog/authors/tulber.jpg
  assets/img/pages/blog/images/spock-geb-zalenium.png
  assets/img/pages/headers/public/crash-test.jpg
Labels: blog post

#526 Add post about town hall meeting
  _posts/2019/2019-08-29-why-hosting-townhall-meetings-is-a-good-idea.md
  assets/img/pages/headers/private/townhall.jpg
Labels: blog post, don't merge yet
