Repository ePages-de/epages-devportal, pull requests merged in 2019-07, with the labels that each got.

#495 EPNG-5373: Make a blog post on 2019-06-20 about Let's Encrypt and Vault
  _data/authors.yml
  _posts/2019/2019-07-02-managing-lets-encrypt-certificates-in-vault.md
  assets/img/pages/headers/public/vault.jpg
Labels: blog post

#498 Add blog post on Stoplight journey
  _posts/2019/2019-07-16-our-journey-away-from-stoplight.md
  assets/img/pages/headers/public/red-stoplight.jpg
Labels: blog post

#500 Enable newsletter
  _includes/sections/footer.html
  _sass/1-config/_variables.sass
  _sass/2-components/_all-components.sass
  _sass/2-components/_footer.sass
  _sass/2-components/_newsletter.sass
Labels: don't merge yet, enhancement

#501 Newsletter input doesn't show a color
  _sass/2-components/_newsletter.sass
Labels: enhancement

#440 blogpost mac-address-generation
  _posts/2019/2019-07-25-how-to-generate-mac-addresses.md
  assets/img/pages/headers/public/mac-address.jpg
Labels: blog post

#508 Reset button style for iPhone and Mozilla
  _sass/1-config/_reset-css.sass
Labels: bug
